.dashContainer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
    background: lavender;
    padding: 5px 10px;
    height: 94vh;
}

.dashCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 5px;
    width : 300px;
}
